*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(r5.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
 .login-container,.signup-container{
    background-color: lavenderblush;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0.10px 20px rgba(0,0,0,0,15);
    width: 350px;
    text-align: center;
 }
 h2{
    margin-bottom: 25px;
    font-size: 26px;
    color:black;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 10px;
 }
 .input-group{
    margin-bottom: 20px;
    text-align: left;
 }
 label{
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
 }

 input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius:8px ;
    font-size: 10px;
    background-color:whitesmoke;
    transition: all 0,3s ease;
}
input:focus{
    border-color: aqua;
    background-color: antiquewhite;
    box-shadow: #ddd;
    outline: none;
}
button{
    width: 100%;
    padding:14px;
    background-color:hotpink;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
button:hover{
    background-color: #ddd;
}
button:active{
    transform: scale(0,90);
}

.singup-link, .login-link{
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.signup-link a, .login-link a{
    color:rgb(185, 63, 255);
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover, .login-link a:hover {
    text-decoration: underline;
}

